.stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    filter: var(--mainFilter);
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: var(--black);
}

.stats-name{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: var(--textShadow);
    filter: var(--mainFilter);
    font-family: var(--mainFont);
    width: 85%;
    margin-left: 10px;
}

.stats-value{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: var(--textShadow);
    filter: var(--mainFilter);
    font-family: var(--mainFont);
    width: 15%;
    margin-left: 10px;
    background-color: var(--yellow);
    border-radius: 5%;
}

@media (max-width: 767px) {
    .stats-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        margin-top: 10px;

    }
    .stats-name{
        width: 85%;
        font-size: 0.5rem;


    }
    .stats-value{
        width: 15%;
        margin-left: 10px;
        font-size: 0.5rem;

    }

}
