@import url(//db.onlinewebfonts.com/c/28b2c66f202a32e6217c39930113f838?family=Crossten);

:root {
  --dark_blue: #005D97;
  --medium_blue: #0053B1;
  --light_blue: #52BEDA;
  --yellow: #F6BA27;
  --red: #D44D56;
  --black: #1D1934;
  --textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --mainFilter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --mainFont: 'Crossten', sans-serif;
  --blueBackground: url("../../resources/images/backgrounds/blue_background.png") no-repeat center center fixed;
  --redBackground: url("../../resources/images/backgrounds/red_background.png") no-repeat center center fixed;
}

/* Default styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--medium_blue);
  color: white;
  font-family: var(--mainFont);
  text-shadow: var(--textShadow);
  filter: var(--mainFilter);
}
.header-logo img {
  height: 50px;
  margin-left: 20px;
  filter: var(--mainFilter);
}

.header-title {
  font-size: 24px;
  margin-right: 20px;
}

.header-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu li {
  margin: 0 10px;
}

.header-menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

#play{
  background-color: var(--yellow);
  /* Make it look like a button */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  filter: var(--mainFilter);
}

/* Mobile styles */
@media (max-width: 767px) {
  header {
    height: 60px;
  }

  .header-title {
    display: none;
  }

  .header-logo {
    margin-left: 10px;
  }

  .header-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin-right: 5%;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--yellow);
    border-radius: 5px;
    filter: var(--mainFilter);
    color: white;
    /*Center the content*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

  }

  .menu-mobile{
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--medium_blue);
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: var(--mainFont);
    text-shadow: var(--textShadow);
    filter: var(--mainFilter);

  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu-mobile li {
    font-size: 25px;

  }

  #Play{
    background-color: var(--yellow);
    /* Make it look like a button */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    filter: var(--mainFilter);
  }

  .menu-mobile a {
    color: white;
    text-decoration: none;
    cursor: pointer;

  }

  .hamburger-menu.active .menu-mobile ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .hamburger-menu.menu-icon {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-color: #F6BA27;
    border-radius: 5px;
    filter: var(--mainFilter);
    color: white;
    /*Center the content*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}