.Elo{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 20px;
    filter: var(--mainFilter);
    display: flex;
    border: 5px solid #fff;
    justify-content: center;
    align-items: center;
    
}

.Elo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: var(--mainFilter);
}

@media (max-width: 767px) {
    .Elo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }

    .Elo img{
        width: 5em;
        height: 5em;
        border: none;

    }
}