.mainPageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: var(--mainFont);
}

.leftRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.rightRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    background-color: var(--medium_blue);
}

.registerAulify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    border: 2px solid var(--medium_blue);
    border-radius: 20px;
}

.registerAulify ul{
    list-style: none;
    padding: 0;
}

.registerAulify ul li{
    margin-bottom: 20px;
}

.registerAulify ul li label{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--medium_blue);

}