.mainPage-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainPage-content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;

}

.LeftContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    filter: var(--mainFilter);
    background: var(--customGradient);
    margin-top: 25%;
    background-size: 500% 500%;
    animation: gradient 2s ease infinite;

}

.LeftContentContainer img {
    filter: var(--whiteFilter);
    height: 100%;
    margin-bottom: 25%;
}

.mainPage-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.topTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    color: var(--dark_blue);
    font-family: var(--mainFont);
    margin-top: 10%;
}

.topTitle h1 {
    font-size: 2.5rem;
    font-weight: 200;
    font-family: var(--mainFontBold);
}

.mediumDescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediumDescription p {
    font-size: 2rem;
    font-weight: 1000;
    font-family: var(--mainFont);
    letter-spacing: 0.1rem;
    margin: 0 8%;
}

.bottomButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    margin-top: 5%;
}

.bottomButton button {
    background-color: var(--red);
    color: #fff;
    font-size: 2rem;
    font-family: var(--mainFont);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 20px 20px;
}



@media (max-width: 767px) {}