.topContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    font-family: var(--mainFont);
}

.mainMessage{
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1%;
    filter: var(--mainFilter);
}

.subMessage{
    font-size: 1.8rem;
    color: var(--yellow);
    margin-bottom: 1%;
    text-shadow: var(--textShadow);
}

.bottomContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    font-family: var(--mainFont);
}

.bottomContainer form input{
    width: 750px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.5%;
    transition: all 0.3s ease-in-out;
    filter: var(--mainFilter);
    text-shadow: var(--textShadow);

}


.bottomContainer button{
    width: 190px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: var(--yellow);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    filter: var(--mainFilter);
    text-shadow: var(--textShadow);
}

.bottomContainer button:hover{
    background-color: var(--red);
    filter: var(--mainFilter);
}


@media (max-width: 767px) {
    .main-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25%;
        font-family: var(--mainFont);
        text-align: center;
    }

    .mainMessage{
        font-size: 2.5rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 2%;

    }

    .subMessage{
        font-size: 1.5rem;
        color: var(--yellow);
        margin-bottom: 2%;
    }

    .bottomContainer form input{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
        background-color: #fff;
        color: #000;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 10%;
        transition: all 0.3s ease-in-out;
        filter: var(--mainFilter);
        text-shadow: var(--textShadow);
    }

    .bottomContainer button{
        width: 50%;
        height: 70px;
        border: none;
        border-radius: 10px;
        background-color: var(--yellow);
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 20%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        filter: var(--mainFilter);
        text-shadow: var(--textShadow);
    }
}
