@font-face {
  font-family: 'Crossten Book';
  font-style: normal;
  font-weight: normal;
  src: local('Crossten Book'), url('../../resources/fonts/crossten-cufonfonts-webfont/CrosstenBook.woff') format('woff');
}

@font-face {
  font-family: 'Crossten Bold';
  src: local('Crossten Bold'), url('../../resources/fonts/crossten-cufonfonts-webfont/CrosstenBold.woff') format('woff');
}

:root {
  --dark_blue: #005D97;
  --medium_blue: #0053B1;
  --light_blue: #52BEDA;
  --yellow: #F6BA27;
  --red: #D44D56;
  --black: #1D1934;
  --textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --mainFilter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --whiteFilter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
  --mainFont: 'Crossten Book';
  --mainFontBold: 'Crossten Bold';
  --blueBackground: url("../../resources/images/backgrounds/blue_background.png");
  --redBackground: url("../../resources/images/backgrounds/red_background.png");
  --customGradient: linear-gradient(-52deg, #F6BA27, #D44D56, #6f52da, #52BEDA);
}

.HeaderAulify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: var(--blueBackground);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: var(--mainFilter);
}


.headerLogo {
  height: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  filter: var(--mainFilter);

}

.headerLogo img {
  height: 100%;
  cursor: pointer;
}

.headerMenu {
  font-size: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  filter: var(--mainFilter);
}



.headerMenu.active {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

.MenuDesplegable {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background: linear-gradient(90deg, rgba(78,61,153,1) 0%, rgba(93,51,147,1) 100%);   width: 30%;
}

.listaMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: var(--mainFilter);


}

.listaMenu.active{
}

.listaMenu li {
  margin-bottom: 30px;

}

.listLi a {
  font-size: 2em;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-family: var(--mainFont);
}

.listLi a:hover {
  color: var(--red);
  cursor: pointer;
}


#Login {
  background-color: var(--yellow);
  /* Make it look like a button */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  filter: var(--mainFilter);
}

#Play {
  background-color: var(--yellow);
  /* Make it look like a button */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  filter: var(--mainFilter);
}

@media (max-width: 767px) {

  .MenuDesplegable {
    width: 100%;
  }

}