.twoRowContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 90%;
}

.LeftContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: var(--dark_blue);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.RightContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;

}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 25vw;
  border-radius: 25px;
  font-family: var(--mainFont);
  border: 2px solid var(--dark_blue);
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.LoginForm ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.LoginForm li {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LoginForm label {
  font-size: 1rem;
  margin-left: 5%;
  width: 45%;
  font-weight: 600;

}

.LoginForm input {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 50%;
  max-width: 200px;
  color: var(--medium_blue);
  font-weight: bold;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.enterButton {
  background-color: rgb(0 , 83 , 177,0.8);
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  margin-top: 5%;
}

.enterButton:hover {
  background-color: rgb(0 , 83 , 177,1);
}

.createButton{
  background-color: rgb(212 , 77 , 86);
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  margin-top: 5%;
}

@media only screen and (max-width: 600px) {
  .Login {
    height: auto;
    width: 80vw;
    font-size: 1rem;
    border: none;
  }

  .LoginForm {
    height: auto;
    margin-top: 10%;
    margin-bottom: 20%;
    font-size: 1rem;
  }

  .LoginForm label {
    width: 45%;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 1rem;

  }

  .LoginForm input {
    width: 100px;
    max-width: 150px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    margin-left: -5%;
  }

  .enterButton, .createButton {
    font-size: 1rem;
    width: 60%;
  }
}
