.twoRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 50%;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  filter: var(--mainFilter);
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--mainFont);
  border: 2px solid var(--dark_blue);
  margin-right: 12em;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 20px;
}

.topLoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.LoginForm ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.LoginTitle {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--dark_blue);
 
}
.LoginForm li {
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LoginForm label {
  font-size: 1rem;
  width: 15em;
  font-weight: 600;
}

.LoginForm input {
  border-radius: 5px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  width: 50%;
  max-width: 10em;
  color: var(--medium_blue);
  font-weight: bold;
  margin-right: 1em;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.enterButton {
  background-color: rgb(0, 83, 177, 0.8);
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  margin-top: 5%;
}

.enterButton:hover {
  background-color: rgb(0, 83, 177, 1);
}

.OlvideContraseña {
  color: var(--dark_blue);
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.createButton {
  background-color: rgb(212, 77, 86);
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
  margin-top: 1em;
}

@media (max-width: 767px) {
  .twoRowContainer {
    flex-direction: column;
  }

  .LeftContainer {
    display: none;
  }

  .topLoginForm {
    height: 50%;
    margin-top: 5em;
  }

  .RightContainer {
    height: 100%;
    width: 100%;
  }

  .Login {
    width: 100%;
    margin-right: 0%;
    border: none;
  }

  .LoginForm {
    width: 100%;
    height: 100%;
  }

  .ButtonContainer {
    margin-top: 5em;
    height: 50%;
  }

  .enterButton {
    width: 60%;
  }

  .createButton {
    width: 60%;
  }
}
